body {
    background-color: rgba(0, 0, 0, 0.771);
    overflow: hidden;
}
.cont {
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.cont div {
    width: 200px;
    height: 200px;
    flex-grow: 1;
    background-color: red;
}
.cont div.active {
    background-color: green;
}
.table_cont {
    width: 100%;
}

.table_cont table {
    width: 100%;
    text-align: left;
}

.table_cont table tr {
    transition: all 0.3s;
    opacity: 1;
}
.table_cont table tr.hide {
    opacity: 0;
    transform: translateX(100%);
}
.table_cont table tr th {
    background-color: whitesmoke;
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    transition: all 0.3s;
    color: #2e2c2c;
    user-select: none;
}
.table_cont table tbody tr td:nth-child(1) {
    padding: 0;
    text-align: center;
}
.table_cont table tr th.active,
.table_cont table thead tr th:hover {
    background-color: rgba(0, 0, 0, 0.196);
    color: white;
    transition: all 0.3s;
}

.table_cont table tr td {
    background-color: rgb(189, 186, 186);
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
    user-select: none;
    transition: all 0.3s;
}
.table_cont table tr td.active {
    background-color: rgba(0, 0, 0, 0.196);
    color: white;
    transition: all 0.3s;
}
.search_box {
    width: 100%;
    display: flex;
    justify-content: end;
}
.search_box input {
    outline: none;
    background-color: ;
    width: 100%;
    display: flex;
    justify-content: end;
}
